
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Ubuntu', Arial,Verdana,sans-serif; padding-bottom: 0; color:#000; font-weight: 300; font-size: 19px;
   margin-bottom: 160px; /* Margin bottom to match footer height */
}

a, a:active, a:visited {text-decoration: none!important;}	

.blog-masthead a, .blog-masthead a:active, .blog-masthead a:visited {text-decoration:none; color:#000; font-weight: 600;}
.blog-masthead a:hover {color:#000;}

.blog-masthead img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.blog-masthead a img { border: none;}

.blog-masthead p { color: #000; font-family: 'Merriweather', serif; font-size: 19px; font-weight: 300;}
.blog-masthead h1 { color: #8D8D78; font-family: 'Merriweather', serif; font-size:48px; font-weight: 500;text-align: left; margin-bottom: 30px;}
.blog-masthead h2 { color: #8D8D78; font-weight: 500; font-size: 18px; line-height: 150%; padding: 5px 0 5px 0; text-transform:uppercase;}
.blog-masthead h3 { color: #8D8D78; font-weight: 600; font-size: 15px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead h4 { color: #7F7F7F; font-size:15px; line-height: 110%; padding: 5px 0px 5px 0px; font-weight: 500; text-transform:uppercase;}
.blog-masthead h5 { color: #7F7F7F; font-weight: 500; font-size: 15px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead hr { border-top: 1px solid #B6BAA8;}

.blog-masthead .disclaimer {padding:10px 0;}
.blog-masthead .disclaimer, .blog-masthead .disclaimer p, .blog-masthead .disclaimer ul li, .blog-masthead .disclaimer ol li { font-size: 12px!important; color:#8aa6b5!important;}

.blog-masthead ul {padding-left: 15px;}
.blog-masthead ul li {font-family: 'Merriweather', serif; padding-left: 16px; margin-bottom: 10px;font-size: 19px; list-style-type: none;}
.blog-masthead ul li a {font-family: 'Merriweather', serif; font-size: 19px}

.blog-masthead ul li::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    position: relative;    
    color: #8D8D78;
    font-size: 9px;
    margin-top: 0px;
    display: block;
    font-weight: 900;
	left: -25px;    
	top: 20px;
}

.blog-masthead ol li { color:#474747; padding-left: 16px; margin-bottom: 10px; font-size: 17px; font-weight: 500; line-height: 150%;}
.blog-masthead ol li ul {margin-top:10px;}
.blog-masthead ol li ul li {list-style-type:inherit;}
.blog-masthead ol li ul li::before {content:"";}
.blog-masthead ol li p {margin-top:10px;}

.blog-masthead blockquote {
    color: #8D8D78;
    font-size: 19px;
    font-weight: 500;
    padding: 0;	
	border-left:2px solid #8D8D78;	
}
	
.blog-masthead blockquote p {
    color: #8D8D78;
    font-size: 19px;
	padding-left: 30px;
    font-weight: 500;
}

.blog-masthead {min-height:500px;}
.blog-post {padding: 0px 0 0px 0;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
NAVBAR
**************************/
.navbar-custom {padding-top: 50px;}

.hamburger {padding:0!important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#000!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#000!important; font-weight: 600!important;}

button:focus {outline: none;}

/**************************
AFFIX
**************************/
.affix {padding: 10px 0; background: rgba(255,255,255,0.95); -webkit-box-shadow: 0 8px 6px -6px #999; -moz-box-shadow: 0 8px 6px -6px #999; box-shadow: 0 8px 6px -6px #999;}
.affix .navbar-logo img {width:50%;}	

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0 10px;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0 10px;}
.navbar-members a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-members a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}

.btn-submit {font-size:15px; text-transform: uppercase; color: #666766; text-align: center;  padding:10px 0px; border:0.5px solid #666766; display: inline-block; width:50%; font-weight: 400;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.btn-submit:hover {color:#fff; background-color:#666766;}

/**************************
HOME PAGE - Sliders - Parallax
**************************/
.sliderParallaxParent {
	height: 800px;
	overflow: hidden;
}

.sliderParallaxParent > * {
	height: 180%;
	position: relative;
	top: -100%;
}
.sliderParallax-img {width:100%; background-repeat: no-repeat; background-size:cover; background-position: center;}
.sliderParallax-img-main {/*background-image: url(../../images/site/pic6-parallax.png)!important;*/}
.sliderParallax-img-mod {background-size:100%;}

.sliderParallax-overlay {width: 100%; transform: translate(0%, -50%)!important; height:180%!important; background:rgba(255,255,255,0.75);}
.sliderParallax-txt {width: 80%; padding: 0 5%; height:auto!important; text-align: center; margin: auto; position: absolute; bottom:43%; left:0; right:0;}
.sliderParallax-txt img {margin-bottom: 60px;}
.sliderParallax-txt h2 {font-family: 'Merriweather', serif; font-size:48px; font-weight: 400; margin-bottom: 40px;}
.sliderParallax-txt p {font-family: 'Merriweather', serif; font-size:19px; font-weight: 300; margin: 0 auto 0 auto; width: 40%; }
.sliderParallax-txt .slider-btn { margin-top: 40px;}
.sliderParallax-txt .slider-btn a {font-family: 'Merriweather', serif; font-size:24px; color:#000; line-height: 35px;
    -webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);	
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: font-weight, font-size;
	transition-property: font-weight, font-size;
}
.sliderParallax-txt .slider-btn a:hover {font-weight: 500!important; font-size:26px;}

/**************************
HOME PAGE - PANEL - SIGN UP
**************************/
.index-panel-signup {padding: 140px 0 80px 0;; width:80%; margin: auto;}
.index-panel-signup-img {text-align: center;}
.index-panel-signup-img img {width:90%; margin:auto;}
.index-panel-signup-btn {text-align: center; margin:40px 0;}

/**************************
HOME PAGE - PANEL - Online
**************************/
.index-panel-online { background-image: url('../../images/site/pic4.png'); background-repeat: no-repeat; background-position: right bottom; background-size: 100% auto; height: 842px;}
.index-panel-online .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-online .background-50 {background:rgba(255,255,255,0.30); height:100%; width:50%;}
.index-panel-online-txt {width:70%; margin:auto; text-align: left;}
.index-panel-online-img img {width:100%;}
.index-panel-online h2 {font-family: 'Merriweather', serif; font-size:48px; font-weight: 400; margin-bottom: 60px;}
.index-panel-online p {font-family: 'Merriweather', serif; font-size:19px; font-weight: 300; margin-bottom: 40px;}
.index-panel-online-btn {text-align: center; margin:40px 0;}
.index-panel-online .btn-submit {width:auto; padding:10px 80px;}

/**************************
HOME PAGE - PANEL - SEO
**************************/
.index-panel-seo {}
.index-panel-seo .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-seo-txt {width:70%; margin:auto; margin: auto; text-align: left;}
.index-panel-seo-img img {width:100%;}
.index-panel-seo h1 {font-family: 'Merriweather', serif; font-size:48px; font-weight: 400; margin-bottom: 60px;}
.index-panel-seo p {font-family: 'Merriweather', serif; font-size:19px; font-weight: 300; margin-bottom: 40px;}
.index-panel-seo-btn {text-align: center; margin:40px 0;}
.index-panel-seo .btn-submit {width:auto; padding:10px 80px;}

/**************************
HOME PAGE - COMMUNITY
**************************/
.parallaxParent {
	height: 800px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 150%;
	position: relative;
	top: -100%;
}

.parallax-img {width:100%; background-image: url(../../images/site/pic6-parallax.png); background-repeat: no-repeat; background-size:cover; background-position: center;}
.parallax-img-main {background-image: url(../../images/site/pic6-parallax.png)!important;}
.parallax-img-mod {background-size:100%;}

.parallax-overlay {width: 100%; transform: translate(0%, -50%)!important; height:100%!important; background:rgba(255,255,255,0.60);}
.parallax-txt {width: 40%; padding: 0 5%; transform: translate(0%, 50%)!important; height:auto!important;}
.parallax-txt h2 {font-family: 'Merriweather', serif; font-size:48px; font-weight: 400; margin-bottom: 60px;}
.parallax-txt p {font-family: 'Merriweather', serif; font-size:19px; font-weight: 300; margin-bottom: 40px;}

/**************************
HOME PAGE - PANEL - NEWSLETTER
**************************/
.index-panel-newsletter {padding: 80px 0 20px 0; width:60%; margin: auto; text-align: center;}
.index-panel-newsletter h2 { font-family: 'Merriweather', serif; font-size: 48px; font-weight: 400; margin-bottom: 40px;}
.index-panel-newsletter h3 { font-family: 'Merriweather', serif; font-size: 19px; font-weight: 400; margin-top: 35px;}
.newsletter input {width:100%; padding:10px; border: 0.5px solid #a4a49c; color:#a4a49c; font-size:15px;}
.newsletter input::placeholder {text-transform: uppercase; color:#a4a49c; font-size:15px;}
.newsletter .btn-submit {background:#000; color:#fff; width: auto; padding: 10px 60px; margin-top: 40px;}
.newsletter .btn-submit:hover {background:#fff; color:#000;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{ background-color: #e8e8e8; border-color: #e8e8e8; }
.dropdown-item.active{ background-color: #fff; border-color: #5a5a5a; color:#000!important; font-weight: 600!important; }

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}


/**************************
CONTACT FORM
**************************/
#contact-form label {display:none!important;}
#contact-form input, #contact-form textarea {padding: 20px; border: 0.5px solid #666766; border-radius: 0; margin: 30px 0 0 0;}
#contact-form textarea {padding: 10px 20px;}
#contact-form input::placeholder, #contact-form textarea::placeholder {text-transform: uppercase;}
#contact-form .btn-submit {margin-top:30px;}
.fv-plugins-bootstrap .has-danger .fv-plugins-icon {display:none!important;}
.fv-plugins-bootstrap .fv-help-block {font-size: 16px!important;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #fff;
	text-align: center;
}

#footer-social {color: #A4A49C; margin: 0 auto; padding: 0; text-align: right; font-size: 13px; position: absolute; top:0; right:30px;}
#footer-social div {padding: 15px 0; text-align: center;}
#footer-social i {font-size:23px;}
#footer-social a, #footer-txt a:active {color: #A4A49C; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000!important; text-decoration: none;}

#footer-txt {color: #666766; width:100%; margin: 0 auto; padding: 40px 0; text-align: center; font-size: 15px; text-transform: uppercase; font-weight: 300;}
#footer-txt div {display: inline-block;}
#footer-txt a, #footer-txt a:active {color: #666766; text-decoration: none; font-size: 15px; padding: 0 7px; font-weight: 400;}
#footer-txt a:hover{ color: #000!important; text-decoration: none;}

.footerContainer {padding: 40px 0;}

#footer-menu {padding:40px 0; position: relative;}
#footer-menu ul { columns: 2; padding-left:0;}
#footer-menu ul li::before {display: none!important}
#footer-menu ul li {list-style-type: none;}
#footer-menu ul .dropdown-toggle::after {display: none!important;}
#footer-menu ul li a {color:#000; font-size:15px; text-transform: uppercase; text-align: left; font-weight: 500;}
#footer-menu ul li a:hover {color:#666766!important;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: 1px solid #999;
  background: rgba(255,255,255,0.95);  
  color: #999; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 0;
  font-size: 18px; 
}

#btnTopPage:hover {color:#fff; background: #999;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { */
@media screen and (max-width: 480px) {
	.navbar-logo {max-width:40%;}
	.navbar-logo img {width:100%;}
	.affix .navbar-logo img {width:100%;}
	#btnTopPage {right:20px;}
	.navbar-collapse {background: rgba(255,255,255,0.95); padding-bottom:5px; margin-top: 5px;
		-webkit-box-shadow: 0 8px 6px -6px #999;
		-moz-box-shadow: 0 8px 6px -6px #999;
		box-shadow: 0 8px 6px -6px #999;
	}
	.affix .navbar-collapse {padding-bottom: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.blog-masthead h1 {font-size:24px;}
	.blog-masthead p,
	.blog-masthead blockquote p,
	.blog-masthead ul li,
	.blog-masthead ul li a
		{font-size:16px;}
	.blog-masthead blockquote {border-left:0;}
	.blog-masthead blockquote p {padding-left: 0;}
	
	.carousel {margin-bottom: 30px;}
	.carousel-inner .carousel-item {height:150px;}
	.carousel-inner .carousel-item > img {height:150px;right:-85px!important; left:auto!important;}
	
	.sliderParallax-txt h2 {font-size:24px!important; margin-bottom: 30px!important;}
	.sliderParallax-txt p {font-size:16px!important; width:100%!important;}
	.sliderParallax-txt .slider-btn a {font-size:18px!important;}
	.sliderParallax-txt { bottom: 50%!important;}
	
	.index-panel-seo-txt {width:95%;}
	.index-panel-seo h1 {font-size:24px!important; margin-bottom: 30px!important;}
	.index-panel-seo p {font-size:16px!important;}
	
	.index-panel-online {background-image: none!important;}
	.index-panel-online-txt {padding:0 0 40px 0!important;}
	.index-panel-online h2 {font-size:24px!important;}
	.parallax-txt h2 {font-size:24px!important; margin-bottom: 30px;}
	.parallax-txt p {font-size:16px!important;}
	
	.index-panel-newsletter h2 {font-size:24px!important; margin-bottom: 30px;}
	.index-panel-newsletter h3 {font-size:16px!important;}
	.newsletter input {padding:10px; font-size:16px!important;}
	.newsletter .btn-submit {margin-top:10px;}
	
	#footer-menu ul {width:100%; columns: 1;}
	#footer-menu ul li {padding-left:0;}
	#footer-txt div {display: block; padding: .5rem 1rem;}
	#footer-txt div span {display:none; visibility: hidden; height: 0;}
	.footerContainer {padding:0;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
	.navbar-custom {padding:5px 0!important;}
	.navbar-logo {padding:0!important;}
	
	.sliderParallax-txt {width:90%; bottom:46%; padding: 40px 0;}
	.sliderParallax-txt img {display:none!important; visibility: hidden!important; height: 0!important;}
	.sliderParallaxParent > * {top:-110%;}
	.sliderParallax-txt h2 {font-size:38px;}
	
	.index-panel-signup {padding:80px 0 40px 0;}
	
	.index-panel-online {height:auto!important;}
	.index-panel-online .background-50 {width:100%!important;}
	.index-panel-online-txt {width:95%; text-align: center; padding:40px 0;}
	.index-panel-online h2 {font-size:26px; margin-bottom: 20px;}
	.index-panel-online p {font-size:16px; margin-bottom: 20px;}
	.index-panel-online .btn-submit {padding:10px 80px;}
	
	.index-panel-seo-txt {width:90%; text-align: center; padding:80px 0;}
	.parallax-txt {width:100%; text-align: center;}
	
	.index-panel-newsletter {width:90%;}
	.newsletter input {margin: 20px 0;}
	
	#footer-txt {padding:0;}
	#footer-menu ul {padding:20px 0 0 0; width:60%; margin: auto;}
	#footer-menu ul li a {text-align: center;}
	#footer-social {position: relative; text-align: center; right:0; margin: 40px 0 0 0;}
	#footer-social div {display: inline-block; padding:0 20px;}
}

/* Other devices */
@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */
	.carousel {margin-bottom: 30px;}
	.carousel-inner .carousel-item {height:250px;}
	.carousel-inner .carousel-item > img {height:250px;right:-85px!important; left:auto!important;}
	
	.navbar-logo img {width: 50%;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	#navbarCollapse .dropdown-item {text-align: left;}
	
	.carousel {margin-bottom: 30px;}
	.carousel-inner .carousel-item {height:250px;}
	.carousel-inner .carousel-item > img {height:250px;right:-85px!important; left:auto!important;}
	
	.blog-masthead h1 {font-size:32px;}
	.blog-masthead p {font-size:16px;}
	
	.sliderParallax-txt {width:100%;}
	.sliderParallaxParent > * {top:-110%;}
	
	.sliderParallax-txt img { display: none; visibility: hidden; height: 0;}
	.sliderParallax-txt h2 {font-size:32px;}
	
	.index-panel-online {height:auto!important;}
	.index-panel-online .background-50 {width:100%!important;}
	.index-panel-online-txt {width:95%; text-align: center; padding:40px 0;}
	.index-panel-online h2 {font-size:26px; margin-bottom: 20px;}
	.index-panel-online p {font-size:16px; margin-bottom: 20px;}
	.index-panel-online .btn-submit {padding:10px 80px;}
	
	.index-panel-seo h1 {font-size:26px; margin-bottom: 20px;}	
	.index-panel-seo-txt {width:90%; text-align: center; padding:0;}
	.index-panel-seo p {font-size:16px; margin-bottom:20px;}
	
	.parallax-txt {width:100%; text-align: center;}
	.parallax-txt h2 {font-size:26px; margin-bottom: 20px;}	
	.parallax-txt p {font-size:16px;}
		
	.index-panel-newsletter {width:90%;}
	.index-panel-newsletter h2 {font-size:26px; margin-bottom: 20px;}	
	.newsletter input {margin: 20px 0;}
	
	#footer-menu ul li a {text-align: center;}
}

@media (max-width: 1700px) { 
	.sliderParallax-txt p {width:70%;}	
	.index-panel-online {height: 600px;}
}

@media (max-width: 1540px) { 
	.sliderParallax-txt h2,
	.index-panel-online h2,
	.index-panel-seo h1,
	.parallax-txt h2,
	.index-panel-newsletter h2
		{font-size:33px; margin-bottom:30px;}
	
	.sliderParallax-txt img {margin-bottom:40px;} 
	.sliderParallax-txt h2 {margin-bottom:30px;}
	
	.sliderParallax-txt p,
	.index-panel-online p,
	.index-panel-seo p,
	.parallax-txt p,
	.index-panel-newsletter h3
	{font-size:16px;}	
	
	.index-panel-online {height: 500px;}
	.sliderParallax-txt {bottom: 53%;}
}
	
@media (max-width: 1280px) { 
	/* For Macbooks */
	.sliderParallax-txt h2,
	.index-panel-online h2,
	.index-panel-seo h1,
	.parallax-txt h2,
	.index-panel-newsletter h2
		{font-size:33px;}	
	
	.sliderParallaxParent > * {top:-110%;}
	.sliderParallax-txt {bottom:37%;}
	.sliderParallax-txt .slider-btn {margin-bottom:20px;}
	.sliderParallax-txt .slider-btn a {font-size:20px;}
	.sliderParallax-txt .slider-btn a:hover {font-size:24px;}
	
	.index-panel-online {height:auto!important; background-size: cover;}
	.index-panel-online .background-50 {width:100%!important;}
	.index-panel-online-txt {width:95%; text-align: center; padding:40px 0;	}
	
	.index-panel-seo-txt {width:90%;}
	.index-panel-seo h1, .index-panel-seo p {margin-bottom:30px;}
	
	.index-panel-seo-txt {width:90%; text-align: center; padding:20px 0;}
	.parallax-txt {width:100%; text-align: center;}
	
	.index-panel-newsletter {width:80%;}
}


@media only screen and (max-width: 320px) {
	/* For iphone 5 */
}
